.basket-list {
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  text-align: left;
  margin-top: 15px!important;
  margin-bottom: 30px;
}
.total {
  text-align: center;
  margin: 10px;
}
.basket-list {
  margin-left: 5px;
  margin-right: 5px;
}

.img-container img {
  width: 150px;
}

.img-container,
.item-container-info {
  display: inline-block;
  vertical-align: middle;
}

.item-container-info {
  margin-left: 5px;
  display: block;
}

.btn-count {
  display: inline-block;
  cursor: pointer;
  background: #ff4200;
  margin: 5px;
  border-radius: 2px;
  line-height: 20px;
  width: 20px;
  text-align: center;
  z-index: 100;
}

.btn-count:hover {
  box-shadow: 0 0 10px rgba(255, 66, 0, 1);
}

.item {
  margin: 5px 5%;
  justify-self: center;
  text-align: center;
}

.item-title {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
}

.item-price {
  color: #ccc;
  font-size: 13px;
}


@media screen and (max-width: 1200px) {
  .grid {
    text-align: center;
  }
}
