.general-section {
  max-width: 1200px;
  margin: 40px auto;
}

.general-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  margin: 10px;
}