.hover-section {
  max-width: 1200px;
  margin: 40px auto;

}

.hover-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border-radius: 5px;
  overflow: hidden;
  margin: 0 1em;
}
