.contacts-container,
.basket-container {
  display: inline-block;
  vertical-align: middle;
}

.basket-container {
  margin-left: 15px;
}

.telephone {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
}

.time {
  font-size: 13px;
  color: #eeeeee;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
}