.checkout-container {
  max-width: 1280px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.container-form,
.container-basket {
 margin: 10px;
}

.container-basket > div {
  max-height: 80vh;
  overflow-y: auto;
}

.container-basket > div::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.container-basket > div::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #ff4200;
  -webkit-box-shadow: 0 0 1px #ff4200;
}
