input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container-element {
  margin: 10px 5px;
}

.element-form {
  width: 100%;
}

.pickup-input {
  width: 0;
}

.label,
.element-form {
  margin: 3px;
}

.label-inline {
  display: inline-block;
}

.element-form-inline {
  width: auto;
}

.error {
  font-style: italic;
  font-size: 12px;
  margin-left: 15px;
  color: #ffd4d4;
}

input {
  padding: 5px;
  font-family: MontserratAlternatesRegular, sans-serif;
  width: 100%;
}
