.checkout-form {
  text-align: left;
}
.container-submit {
  text-align: center;
}
.btn-submit {
  background: #ff4200;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
}

.title-section-form {
  margin: 10px 5px;
}

.title-section-form.where-title {
  margin: 20px 5px 10px 5px;
}

.btn-submit:hover {
  box-shadow: 0 0 10px rgba(255, 66, 0, 1);
}

.container-submit {
  margin-top: 15px;
}

.group-elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}