.swipe-container {
  max-width: 1320px;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  border: 1px solid #ffffff;
}

.container {
  margin: 0 1em;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.content {
  box-sizing: border-box;
  height: 280px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.swiper-pagination-bullet:last-child {
  margin-right: 5%!important;
}