.main {
  min-height: 100px;
  position: relative;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../../assets/images/BG.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  opacity: 0.1;
}