.menu-container {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
  margin: 16px auto;
  padding: 16px 0;
  background: rgba(16,16,16,0.8);
  z-index: 10;
}

.menu-item {
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  color: #ffffff;
  text-decoration: none;
  transition: all 200ms;
  font-size: 15px;
}

.menu-item.active {
  text-decoration: underline;
  color: #ff4200;
}

.menu-item:hover {
  color: #ff4200;
}

.basket-container {
  display: inline-block;
  margin-left: 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.menu-items {
  display: inline-block;
  transition: all 300ms;
  z-index: 5;
}

.menu-btn {
  display: none;
  background: #ff4200;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.menu-btn:hover {
  box-shadow: 0 0 10px rgba(255, 66, 0, 1);
}

.menu-btn.open {
  width: 90px;
  height: 45px;
  line-height: 45px;
  border-radius: 6px;
  background-color: #ff4200;
  font-family: MontserratAlternatesRegular, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.72px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  vertical-align: middle;
  padding: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
  top: -50px;
}

.menu-btn.open:hover {
  box-shadow: 0 0 10px rgba(255, 66, 0, 1);
}

@media screen and (max-width: 768px) {
  .menu-container {
    padding: 0;
    top: 60px;
  }

  .menu-btn {
    display: inline-block;
    position: absolute;
    left: 20px;
  }

  .basket-container {
    position: absolute;
    right: 20px;
    top: -50px;
  }

  .menu-items {
    position: fixed;
    left: -100%;
    top: 0;
    background: rgba(16,16,16,0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    height: 100vh;
    width: 50%;
  }

  .menu-items.menu-mobile {
    left: 0;
  }

  .menu-items.menu-mobile:nth-child(2) {
    margin-top: 45px;
  }

  .menu-items .menu-item {
    display: block;
    padding: 10px;
    margin: 10px 10px 10px 30px;
  }

  .menu-btn {
    top: 10px;
  }

  .menu-items > a:nth-child(2) {
    margin-top: 50px;
  }
}

@media screen and (max-width: 630px) {
  .menu-items {
    width: 100%;
  }
}