.general-block {
  max-width: 450px;
  margin: 0 auto;
}

.image {
  cursor: pointer;
  width: 100%;
  height: auto;
  border-radius: 6px;
  transition: all 500ms;
}

.general-block:hover .image {
  transform: scale(1.15) rotate(10deg);
}

.block-info {
  text-align: left;
}

.title-block {
  display: inline-block;
  height: 20px;
  font-family: "MontserratAlternatesBold", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.96px;
  text-align: left;
  color: #ff4200;
  margin-top: 8px;
}

.weight {
  font-size: 12px;
  color: #ccc;
}

.description {
  min-height: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 0;
  font-size: 12px;
  margin-bottom: 2px;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.price {
  font-size: 22.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 0;
}
.new-price {
  color: #f71601;
}
.discount {
  margin-left: 5px;
  font-size: 15px;
  vertical-align: super;
  background: #f71601;
  padding: 1px;
}

.add-btn {
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.72px;
  text-align: center;
  color: #ffffff;
  border-radius: 6px;
  border: solid 1px #ff4200;
  padding: 10px;
  background: #ff4200;
  justify-self: end;
  transition: all 200ms;
}

.add-btn:hover {
  box-shadow: 0 0 10px rgba(255, 66, 0, 1);
}

.count {
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 4px;
  border-radius: 2px;
}
