.title,
.subtitle {
  font-family: MontserratAlternatesRegular, sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 5px;
}

.title {
  font-size: 27px;
  color: #ff4200;
}

.subtitle {
  font-size: 21px;
}

.line-title {
  width: 108px;
  height: 1px;
  background-color: #dfdfdf;
  margin: 24px auto;
}