.address-container {
  display: inline-block;
  vertical-align: middle;
}
.address,
.tagline {
  text-align: left;
}

.address {
  font-family: "MontserratAlternatesMedium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 7px;
}

.tagline {
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #eeeeee;
}

@media screen and (max-width: 980px) {
  .address,
  .tagline {
    text-align: center;
  }
}