.title-container {
  display: inline-block;
  vertical-align: middle;
}
.logo {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 6px;
  margin-right: 13px;
  background: url('../../../assets/images/logo.svg') 50% 50% no-repeat;
  vertical-align: middle;
}
.title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.subtitle {
  font-size: 13px;
  color: #eeeeee;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.title,
.subtitle {
  text-align: left;
}

.orange {
  color: #ff4200;
}