.thanks {
  font-size: 50px;
  margin: 15px auto;
}

.id-order-static {
  margin-top: 10px;
  font-size: 25px;
}

.id-order {
  font-size: 50px;
}

.items {
  text-align: center;
  margin: 10px auto;
  padding: 0;
}

.item {
  list-style-type: none;
  margin: 5px;
}

.amount {
  margin: 30px auto;
  font-size: 30px;
}