.btn-on-main {
  display: block;
  text-transform: uppercase;
  font-family: "MontserratAlternatesBold", sans-serif;
  letter-spacing: 8px;
  background: #ff4200;
  padding: 10px 5px;
  transition: all 200ms;
}

.btn-on-main:hover {
  box-shadow: 0 0 10px rgba(255, 66, 0, 1);
}