.header-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto 1fr auto;
  align-items: center;
  margin: 25px 5px;
}

.col-left,
.col-center,
.col-right {
  display: inline-block;
}

.col-left {
  text-align: left;
}

.col-center {
  /*text-align: left;*/
}

.col-right {
  text-align: right;
}

@media screen and (max-width: 980px) {
  .header-container {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .col-right {
    grid-column: 1 / 3;
  }

  .col-left,
  .col-center,
  .col-right {
    text-align: center;
    margin: 10px 0;
  }
}

@media (max-width: 630px) {
  .col-right {
    grid-column: 1;
  }
}