.basket {
  line-height: 45px;
  border-radius: 6px;
  background-color: #ff4200;
  font-family: MontserratAlternatesRegular, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.72px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.basket:hover {
  box-shadow: 0 0 10px rgba(255, 66, 0, 1);
}

.basket.light {
  color: #ff4200;
  background-color: #ffffff;
}

.count {
  background: rgba(0, 0, 0, 0.8);
  padding: 2px 4px;
  border-radius: 2px;
}

.basket-container {
  position: fixed;
  top: 0;
  right: -100%;
  text-align: left;
  width: 30%;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 16px;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  transition: all 300ms;
}

.title-basket {
  margin: 5%;
}

.basket-container.active {
  right: 0;
}

.basket-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.basket-container::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #ff4200;
  -webkit-box-shadow: 0 0 1px #ff4200;
}

.btn-query {
  display: block;
  padding: 10px;
  background: #ff4200;
  border-radius: 2px;
  line-height: normal;
  text-align: center;
  margin: 5%;
}

.btn-query:hover {
  box-shadow: 0 0 10px rgba(255, 66, 0, 1);
}

.disable-link {
  pointer-events: none;
  background: rgba(255, 66, 0, 0.75);
}

.close-btn {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: MontserratAlternatesRegular, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.72px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  vertical-align: middle;
  padding: 5px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
  background: #ff4200;
  border-radius: 5px;
}

.close-btn:hover {
  box-shadow: 0 0 10px rgba(255, 66, 0, 1);
}

.total {
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (max-width: 1200px) {
  .basket-container {
    width: 40%;
  }
}
@media screen and (max-width: 992px) {
  .basket-container {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .basket-container {
    width: 75%;
  }
}

@media screen and (max-width: 630px) {
  .basket-container {
    width: 100%;
  }
}