@font-face {
  font-family: MontserratAlternatesRegular;
  src: url(../assets/fonts/MontserratAlternates/MontserratAlternates-Regular.ttf);
}

@font-face {
  font-family: MontserratAlternatesMedium;
  src: url(../assets/fonts/MontserratAlternates/MontserratAlternates-Medium.ttf);
}

@font-face {
  font-family: MontserratAlternatesBold;
  src: url(../assets/fonts/MontserratAlternates/MontserratAlternates-Bold.ttf);
}