.hover-block {
  height: 260px;
  cursor: pointer;
  background-size: cover;
  max-width: 584px;
  margin: 0 auto;
  background-position: center center;
}

.block-info-container {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all 300ms;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.block-info-container:hover {
  opacity: 1;
}

.block-info {
  text-align: center;
  margin: 0 1em;
  text-shadow: 1px 1px 2px black;
}

.title-block {
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.line {
  width: 77px;
  height: 2px;
  background-color: #dfdfdf;
  margin: 0 auto;
}

.description {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #fefefe;
}

.weight {
  color: #fff;
}

.price {
  font-size: 22.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 7px auto;
}

.new-price {
  color: #f71601;
}

.discount {
  margin-right: 5px;
  font-size: 15px;
  vertical-align: super;
  background: #f71601;
  padding: 2px;
}

.add-btn {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.72px;
  text-align: center;
  color: #ff4200;
  border-radius: 6px;
  border: solid 1px #ff4200;
  margin: 0 auto;
  padding: 11px 9px;
  transition: all 200ms;
  background: rgba(0, 0, 0, 0.65);
}

.add-btn:hover {
  background: #ff4200;
  color: #ffffff;
}

.title-block,
.description,
.add-btn {
  margin-bottom: 17px;
}

.line {
  margin-bottom: 5px;
}

.count {
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 4px;
  border-radius: 2px;
}

@media (max-width: 630px) {
  .block-info-container {
    opacity: 1;
  }
}