footer {
  width: 100%;
  background-color: #ff4200;
}

.footer-container {
  display: grid;
  grid-template-columns: 300px repeat(auto-fit, minmax(320px, 1fr)) 350px;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  padding: 25px 0;
}

.col-left,
.col-center,
.col-right {
  display: inline-block;
}

.col-left {
  text-align: left;
}

.col-center {
  text-align: left;
}

.col-right {
  text-align: right;
}

@media screen and (max-width: 980px) {
  .footer-container {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .col-right {
    grid-column: 1 / 3;
  }

  .col-left,
  .col-center,
  .col-right {
    text-align: center;
    margin: 10px 0;
  }
}

@media (max-width: 630px) {
  .col-right {
    grid-column: 1;
  }
}