.feedback-section {
  max-width: 1200px;
  margin: 40px auto 0 auto;
  cursor: default;
}

.feedback-content {
  height: 478px;
  margin: 0 1em;
}

.data-content {
  text-align: left;
  padding: 2% 10%;
}

.name,
.date,
.feedback-content {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.name {
  font-size: 18px;
  margin-bottom: 20px;
}

.date {
  font-size: 16px;
  margin-bottom: 26px;
}

.line-mini {
  background: #ffffff;
  width: 150px;
  height: 1px;
  /*margin-bottom: 32px;*/
  margin: 0;
}

.feedback-content-text {
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 40px;
}

.line-full {
  background: #ffffff;
  width: 100%;
  height: 1px;
}

.container {
  height: 478px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.swiper-pagination-bullet {
  border: 1px solid #ffffff;
  color: #ffffff !important;
  height: 10px !important;
  width: 10px !important;
}

.swiper-pagination-bullet:last-child {
  margin-right: 18% !important;
}

.swiper-pagination-bullet-active > div {
  background: #ffffff !important;
  padding: 3px !important;
  margin: 2px !important;
  border-radius: 10px !important;
}

.img {
  box-sizing: border-box;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .data-content {
    padding: 1%;
  }

  .img {
    display: none;
  }
}

