@import 'css/custom.css';
html {
  cursor: default;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: "MontserratAlternatesBold", sans-serif;
}

h3, h4 {
  font-family: "MontserratAlternatesMedium", sans-serif;
}

h5, h6 {
  font-family: "MontserratAlternatesRegular", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

header {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  scroll-behavior: smooth;
}

/*banner*/
.head-banner .swiper-pagination-bullet-active > div {
  background: #ffffff;
  padding: 3px;
  margin: 2px;
  border-radius: 10px;
}
.head-banner .swiper-pagination-bullet {
  background: none!important;
  border: 1px solid #ffffff!important;
  height: 10px!important;
  width: 10px!important;
}
.head-banner .swiper-pagination {
  text-align: end!important;
}
.head-banner .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}
/*banner end*/

/*feedback*/
.feedback .swiper-slide .container-general{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.feedback .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ff4200!important;
  margin: 2px;
  border-radius: 10px;
}
.feedback .swiper-pagination-bullet {
  background: #ffffff!important;
  border: 3px solid #ffffff!important;
  height: 14px!important;
  width: 14px!important;
  opacity: 1!important;
}
.feedback .swiper-pagination {
  text-align: end!important;
}
.feedback .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}

.feedback .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  bottom: 35px;
}
/*feedback end*/


body {
  font-family: "MontserratAlternatesRegular", sans-serif;
  color: #ffffff;
  background: #101010;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  header {
    margin: 0 auto 50px auto;
  }
}
